name: Style
on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dev tools
        run: |
          pip install -e .[dev]
      - name: Black format check
        run: |
          black --check .
      - name: Flake8 lint
        run: |
          flake8 tsu
